body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}
.maindiv > * {
  padding-bottom: 10px;
}
.maindiv > div {
  margin-left: 10%;
}
.highlight {
  background-color: yellow;
}
