body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 75%;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}
.interest_field_container > * {
  margin-bottom: 16px;
}

.highlight {
  background-color: yellow;
}
.interest_field_container {
  padding-left: 10%;
  padding-right: 10%;
}
label {
  display: inline-block;
  width: 100px;
}
